<li>
	{{burger_name}}

	{{#if served}}
		<a class="waves-effect waves-light btn devour" data-id="{{id}}" data-served="{{served}}" data-devoured="{{devoured}}">Devour</a>

	{{else}}
		<a class="waves-effect waves-light btn serve" data-id="{{id}}" data-served="{{served}}" data-devoured="{{devoured}}">Serve</a>
	{{/if}}
</li>
