<li>
	{{burger_name}}

	{{#if served}}
		<button class='devour' data-id="{{id}}" data-served="{{served}}" data-devoured="{{devoured}}">Devour</button>
	{{else}}
		<button class='serve' data-id="{{id}}" data-served="{{served}}" data-devoured="{{devoured}}">Serve</button>
	{{/if}}
	{{!-- <button class="serve" data-id="{{id}}" data-served="{{served}}">
		{{#if served}}Devour{{else}}Serve{{/if}}
	</button> --}}

	{{!-- <button class="devour-burger" data-id="{{this.id}}">DEVOUR!</button> --}}
</li>
